{% extends 'gugrub/base.html' %}

{% load staticfiles %}z

{% block title %}New Review{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Add a Review</h1>
    </div>
        <form id="review_form" method="post" action="/gugrub/add_new_review/" enctype="multipart/form-data">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                </br>
                </br>
            {% endfor %}

            <input type="submit" name="submit" value="Submit Review" />
        </form>
{% endblock %}