{% extends 'gugrub/base.html' %}

{% load staticfiles %}

{% block title %}New Review{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Add a Review</h1>
    </div>
        <form id="review_form" method="post" action="/gugrub/add_new_review/" enctype="multipart/form-data">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

                <!--<div class="starRating">-->
        <h1>add review</h1>
    <!--</div>-->

            {% if form.eatery %}
            <p> eatery {{form.eatery}}</p>
            {% endif %}


            {% if form.title %}
            <p> title{{form.title}}</p>
            {% endif %}

            {% if form.description %}
            <p> description{{form.description}}</p>
            {% endif %}

            {% if form.qualityRating %}
               <h1>{{form.qualityRating}}</h1>

            <p>
            "How would you rate the quality of the food/drink?"
                <span class="starRating">
            <input id="id_qualityRating_4" type="radio" name="qrating" value="5">
            <label for="id_qualityRating_4">5</label>
            <input id="id_qualityRating_3" type="radio" name="qrating" value="4">
            <label for="id_qualityRating_3">4</label>
            <input id="id_qualityRating_2" type="radio" name="qrating" value="3">
            <label for="id_qualityRating_2">3</label>
            <input id="id_qualityRating_1" type="radio" name="qrating" value="2">
            <label for="id_qualityRating_1">2</label>
            <input id="id_qualityRating_0" type="radio" name="qrating" value="1">
            <label for="id_qualityRating_0">1</label>
            </span>
            </p>
            {% endif %}

            {% if form.valueRating %}
                <h1>{{form.valueRating}}</h1>

            <p>
            "How would you rate the quality of the food/drink?"
                <span class="starRating">
            <input id="id_valueRating_4" type="radio" name="vrating" value="5">
            <label for="id_valueRating_4">5</label>
            <input id="id_valueRating_3" type="radio" name="vrating" value="4">
            <label for="id_valueRating_3">4</label>
            <input id="id_valueRating_2" type="radio" name="vrating" value="3">
            <label for="id_valueRating_2">3</label>
            <input id="id_valueRating_1" type="radio" name="vrating" value="2">
            <label for="id_valueRating_1">2</label>
            <input id="id_valueRating_0" type="radio" name="vrating" value="1">
            <label for="id_valueRating_0">1</label>
            </span>
            </p>
            {% endif %}

            {% if form.atmosphereRating %}
                <h1>{{form.atmosphereRating}}</h1>

            <p>
            "How would you rate the quality of the food/drink?"
                  <span class="starRating">
            <input id="id_atmosphereRating_4" type="radio" name="arating" value="5">
            <label for="id_atmosphereRating_4">5</label>
            <input id="id_atmosphereRating_3" type="radio" name="arating" value="4">
            <label for="id_atmosphereRating_3">4</label>
            <input id="id_atmosphereRating_2" type="radio" name="arating" value="3">
            <label for="id_atmosphereRating_2">3</label>
            <input id="id_atmosphereRating_1" type="radio" name="arating" value="2">
            <label for="id_atmosphereRating_1">2</label>
            <input id="id_atmosphereRating_0" type="radio" name="arating" value="1">
            <label for="id_atmosphereRating_0">1</label>
            </span>
            </p>
            {% endif %}

            {% if form.serviceRating %}
                <h1>{{form.serviceRating}}</h1>


            "How would you rate the quality of the food/drink?"
                <span class="starRating">
            <input id="id_serviceRating_4" type="radio" name="srating" value="5">
            <label for="id_serviceRating_4">5</label>
            <input id="id_serviceRating_3" type="radio" name="srating" value="4">
            <label for="id_serviceRating_3">4</label>
            <input id="id_serviceRating_2" type="radio" name="srating" value="3">
            <label for="id_serviceRating_2">3</label>
            <input id="id_serviceRating_1" type="radio" name="srating" value="2">
            <label for="id_serviceRating_1">2</label>
            <input id="id_serviceRating_0" type="radio" name="srating" value="1">
            <label for="id_serviceRating_0">1</label>
            </span>
            </p>
            {% endif %}

            {% if form.recommendRating %}
                <h1>{{form.recommendRating}}</h1>
            <p>
            "How would you rate the quality of the food/drink?"
                <span class="starRating">
            <input id="id_recommendRating_4" type="radio" name="rrating" value="5">
            <label for="id_recommendRating_4">5</label>
            <input id="id_recommendRating_3" type="radio" name="rrating" value="4">
            <label for="id_recommendRating_3">4</label>
            <input id="id_recommendRating_2" type="radio" name="rrating" value="3">
            <label for="id_recommendRating_2">3</label>
            <input id="id_recommendRating_1" type="radio" name="rrating" value="2">
            <label for="id_recommendRating_1">2</label>
            <input id="id_recommendRating_0" type="radio" name="rrating" value="1">
            <label for="id_recommendRating_0">1</label>
            </span>
            </p>
            {% endif %}



            {% if form.picture %}
            <p> picture{{form.picture}}</p>
            {% endif %}

            <input type="submit" name="submit" value="Submit Review" />
        </form>

{% endblock %}

