{% extends 'gugrub/base.html' %}




{% block title %}{{eatery_name}}{% endblock %}

{% block body_block %}


<div class="jumbotron" id="home">
    <div class="container">
        <div>
            <a href="#" class="pull-right"><img class="media-object" src="{{MEDIA_URL}}{{eatery.picture}}"/></a>

            <div class="media-body">
                <div class="col-md-11">
                    <h1 class="title"><span>{{eatery.name}}</span></h1>

                    <span class="stars">{{eatery.averageRating}}</span>

                    <p>{{eatery.description}}</p>

                    <p><a class="btn btn-success btn-lg" href="{% url 'add_eatery_review' eatery.slug %}">Add a Review<i class="icon icon-angle-right"></i></a></p>
                </div>
            </div>
            <div class="col-md-8 col-md-push-4 lazy-container loaded">
                <!--<img data-original="images/mockup.png" src="images/mockup.png" alt="Looks great on every device"-->
                <!--class="lazy">-->

                <h2>Current<strong>Ratings</strong></h2>

                <div class="row">
                    <div class="col-md-6">
                        <div class="feature-box">
                                <h4 class="shorter">Average Quality Rating: <span class="stars">{{eatery.averageQualityRating}}</span></h4>
                        </div>
                        <div class="feature-box">
                                <h4 class="shorter">Average Value Rating: <span class="stars">{{eatery.averageVenueRating}}</span></h4>
                        </div>
                              <div class="feature-box">
                                <h4 class="shorter">Average Atmosphere Rating: <span class="stars">{{eatery.averageAtmosphereRating}}</span></h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-box">
                                <h4 class="shorter">Average Service Rating: <span class="stars">{{eatery.averageServiceRating}}</span></h4>
                        </div>
                        <div class="feature-box">
                                <h4 class="shorter">Average Recommend Rating: <span class="stars">{{eatery.averageRecommendRating}}</span></h4>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



</section>
        {% if eatery %}
        {% if reviews %}
        {% for review in reviews %}
<section class="slider" id="features">
    <div class="container">
        <div class="row inner-page">
            <h3 style="text-align: right">User: {{review.reviewer}}     Date: {{review.date}}</h3>
            <div class="col-md-8 col-md-push-4 lazy-container loaded">


            <h1 style="text-align: left"><strong>{{ review.title }}</strong></h1>
            <h2>Description: </h2>
            <h3 style="text-align: left">{{review.description}}</h3>
            <h2><strong>Final Rating</strong><span class="stars">{{review.finalRating}}</span></h2>

                <div class="row">

                    <div class="col-md-6">
                        <div class="feature-box">

                            <div class="feature-box-info">

                                <h3 class="shorter">Quality Rating: <span class="stars">{{review.qualityRating}}</span></h3>
                            </div>
                        </div>
                        <div class="feature-box">

                            <div class="feature-box-info">

                                <h3 class="shorter">Value Rating: <span class="stars">{{review.valueRating}}</span></h3>
                            </div>
                        </div>
                        <div class="feature-box">

                            <div class="feature-box-info">

                                <h3 class="shorter">Atmosphere Rating: <span class="stars">{{review.atmosphereRating}}</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-box">

                            <div class="feature-box-info">

                                <h3 class="shorter">Service Rating: <span class="stars">{{review.recommendRating}}</span></h3>
                            </div>
                        </div>
                        <div class="feature-box">

                            <div class="feature-box-info">

                                <h3 class="shorter">Recommend Rating: <span class="stars">{{review.recommendRating}}</span></h3>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4 col-md-pull-8">
                {% if review.picture %}
                <a class="pull-right"><img  style="width:400px" style="max-height:100px"  class="media-object" src="{{MEDIA_URL}}{{review.picture}}"/></a>
                {% else %}
                <a class="pull-right"><img  style="max-width:400px" style="max-height:100px" class="media-object" src="{{MEDIA_URL}}/cafe.png"/></a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
                {% endfor %}
                {% else %}
                <strong>No reviews currently.</strong>
            {% endif %}

        {% else %}
            The specified eatery {{ eatery_name }} does not exist!
        {% endif %}


 <script>
$(function() {
    $('span.stars').stars();
});
</script>

{% endblock %}

