{% extends 'gugrub/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}

    <div class="jumbotron">
        <div class="container">
            <img src="{% static "images/logo.png" %}" alt="GUGrubGuide Logo" />
            <h1>Welcome!</h1>
            <p>The Glasgow Univeristy Grub Guide allows you to rate your (least) favourite cafes, resturants and coffee shops on  the Glasgow
            University campus.</p>
        </div>
    </div>

     <p>{{ avgQ }}</p>
        <div class="container">
            {%if eateries %}
                <div>
                {% for eatery in eateries %}
                    <div class="col-md-4">
                        <div class="panel panel-info" style="height: 425px;">
                            <div class="panel-heading"><a href="/gugrub/eatery/{{ eatery.slug }}"><paneltitle>{{ eatery.name }}</paneltitle></a><span class="stars">{{eatery.averageRating}}</span></h2></div>
                                <div>
                                    <img src="{{MEDIA_URL}}{{eatery.picture}}"  height="200" width="350"/>
                                </div>
                                <div><pdesc> {{eatery.description}} </pdesc></div>
                                <p><a class="btn btn-default" href="/gugrub/eatery/{{ eatery.slug }}" role="button">See reviews for {{eatery.name}} &raquo;</a></p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <strong>There are no eateries present.</strong>
            {% endif %}
        </div>
 <script>
$(function() {
    $('span.stars').stars();
});
</script>
{% endblock %}